.vscode
.idea
__pycache__
*/__pycache__
testing
data/*
!data/SceneNN
Dataset/label_feature_scannet200.npy
Dataset/dataset_backup.py
ppt
output
models/*
!models/.gitkeep
third_party/*
!third_party/FCGF/
*.ply

Scene_rep_backup.py
Bi_plane_classifier.py

readme.txt
readme_env.txt

# eval/scannet200/validation
eval/backup
eval/scannet200/validation/*
!eval/scannet200/validation/scannet_gt_seg.zip
eval/sceneNN/*
!eval/sceneNN/sceneNN_gt_seg.zip

/data/
