.vscode
.idea
__pycache__
*/__pycache__
testing
data/*
!data/.gitkeep
Dataset/label_feature_scannet200.npy
Dataset/dataset_backup.py
ppt
output
models/*
!models/.gitkeep
third_party/*
!third_party/FCGF/
*.ply
readme.txt
readme_env.txt

# eval/scannet200/validation
eval

